In [1]:
import pandas as pd
page1 = pd.read_csv("Page1.csv")
page2 = pd.read_csv("Page2.csv")

In [2]:
page1

                                    Affected Legal Good    Month      City
0                                            Patrimonio  2015-01   Apodaca
1                                            Patrimonio  2015-02   Apodaca
2                                            Patrimonio  2015-03   Apodaca
3                                            Patrimonio  2015-04   Apodaca
4                                            Patrimonio  2015-05   Apodaca
...                                                 ...      ...       ...
6043  Otros Bienes Jurídicos Afectados (Del Fuero Co...  2022-08  Santiago
6044  Otros Bienes Jurídicos Afectados (Del Fuero Co...  2022-09  Santiago
6045  Otros Bienes Jurídicos Afectados (Del Fuero Co...  2022-10  Santiago
6046  Otros Bienes Jurídicos Afectados (Del Fuero Co...  2022-11  Santiago
6047  Otros Bienes Jurídicos Afectados (Del Fuero Co...  2022-12  Santiago

[6048 rows x 3 columns]

In [3]:
page2

,fecha,lugar,evento,lat,lon,isstatic
0,2021-(4-6),Apodaca,Módulo de seguridad pública,25.78195,-100.180434,No
1,2021-(4-6),Apodaca,Módulo de seguridad pública,25.78195,-100.180434,No
2,2021-(4-6),Apodaca,Módulo de seguridad pública,25.78195,-100.180434,No
3,2021-(4-6),Apodaca,Módulo de seguridad pública,25.78195,-100.180434,No
4,2021-(7-9),Apodaca,Módulo de seguridad pública,25.78195,-100.180434,No
...,...,...,...,...,...,...
179208,NaN,Santiago,Trabajadores per cápita,NaN,NaN,Yes
179209,NaN,Santiago,Trabajadores per cápita,NaN,NaN,Yes
179210,NaN,Santiago,Trabajadores per cápita,NaN,NaN,Yes
179211,NaN,Santiago,Trabajadores per cápita,NaN,NaN,Yes
179212,NaN,Santiago,Trabajadores per cápita,NaN,NaN,Yes